# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.txt
*.json
*.gz

go.work
go.work.sum

.temp/
_generated/
_generated_files/
.urlCache/
.githubCache/
.githubCommits/

.githubPatchCache

secretsnitch